body{
	padding: 0;
	margin: 0;
	background-color: #03eeff;
}
.main{
	width: 504px;
	/*background-image: linear-gradient(300deg, #a1c4fd 0%, #c2e9fb 100%);*/
	background-color: #03eeff;
	text-align: center;
	color: #121211;
}
/*title head */
.inl_bl_title{
	display: block;
	padding: 3px;
}
#STT_title{
	color: #121211;
	font-size: 18px;
	font-weight: bold;
	margin-left: 5px;
}
#version{
	color: #121211;
	font-size: 10px;
	margin-left: 5px;
}

.CopyLink{
	width: 61%;
	display: inline-block;
}

#ym{
	margin-right: 5px;
	margin-top: 5px;
	float: right;
	border: 1px solid black;
	border-radius: 2px;
	width: 14px;
	height: 14px;
}
#star{
	margin-right: 5px;
	margin-top: 5px;
	float: right;
	border: 1px solid black;
	border-radius: 2px;
	width: 14px;
	height: 14px;
}

.projCenter{
	width:337px;
	/*margin-left: 24px;*/
	/*background: white;*/
	display: inline-block;
	float: left;
}
.projRight{
	height: 24px;
	
	background: black;
	display: inline-block;
	float: left;
}
.sumtsk{
	width: 22px;
	height: 22px;
	-webkit-transition: background 300ms ease-in;
	background: #79ff03;
	text-align: center;
	/*border: 0;*/
	padding: 0;
	border-left: 1px solid #fafeff;
	border-top: 1px solid #fafeff;
	border-right: 1px solid #428702;
	border-bottom: 1px solid #fafeff;
	float: left;
	color: #121211;
	
}
.sumAllTsk{
	width: 22px;
	height: 22px;
	display: inline-block;
	-webkit-transition: background 300ms ease-in;
	background: #79ff03;
	text-align: center;
	padding: 0;
	border-left: 0;
	border-top: 1px solid #fafeff;
	border-right: 1px solid #428702;
	border-bottom: 1px solid #fafeff;
	float: left;
	color: #121211;
}
.sumtsktime{
	width: 71px;
	height: 22px;
	padding: 0;
	text-align: center;
	
	background: #79ff03;
	border-left: 0;
	border-top: 1px solid #fafeff;
	border-right: 1px solid #fafeff;
	border-bottom: 1px solid #fafeff;
	color: #121211;
	float: left;
}
.ctrl_btn{
	/*border-radius: 2px;*/
	/*border: 1px solid #ff4a03;*/
	-webkit-transition: background 300ms ease-in;
	background: #fafeff;
	vertical-align: middle;
	margin: 0;
	float: left;
}
.hover_orange:hover{
	-webkit-transition: background 300ms ease;
    transition: background 500ms linear;
    opacity: 1;
	background: #ff4a03;
}
.hover_orange:active{
	-webkit-transition: background 100ms linear;
	background: #822500;
}
.line{
	-webkit-transition: opacity 150ms linear;
	width:100%;
	padding-top: 4px;
	margin-top: 2px;
	opacity: 0;
	display: block;
	border-bottom: 1px solid #027982;
	border-right: 0;
	border-top: 0;
	border-left: 0;
	background: #81fffb;
	float: left;
}
.in_field{
	width: 334px;
	padding: 0;
	/*margin-left: 24px;*/
	margin-right: 24px;
	margin-bottom: 2px;
	height: 22px;
	border-bottom: 1px solid #81fffb;
	border-right: 1px solid #81fffb;
	border-top: 1px solid #027982;
	border-left: 1px solid #027982;
	float: left;
}
.clr_grp{
	width: 72px;
	display: inline-block;
	float: left;
}
.ctrl_btn_color{
	width: 24px;
	height: 12px;
	border: 1px solid #fafeff;
	-webkit-transition: background 300ms ease-in;
	float: left;
}
.linegr{
	width:100%;
	float: left;
	padding: 0;
	margin: 0;
	background: #03eeff;
	border-bottom: 1px solid #027982;
}
.label{
	display: inline-block;
	width: 336px;
	height: 24px;
	padding: 0;
	background: none;
	border: none;
	color: #121211;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	float: left;
}
.cLabel{
	display: inline-block;
	-webkit-transition: background 100ms ease-in;
	width: 336px;
	height: 24px;
	padding: 0;
	float:left;
}
.btnDrgn{
	display: inline-block;
	width: 24px;
	height: 24px;
	text-align: center;
	float: left;
	opacity: 0.5;
	padding: 0;
	border: 0;
}
.panelAddTask{
	-webkit-transition: opacity 300ms;
	opacity: 1;
}
.inFieldTaskDiv{
	display: inline-block;
	padding-top: 2px;
	width: 384px;
	float: left;
	/*margin-left: 24px;*/
}
.statusTask{
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	background: #fafeff;
	margin-right: 12px;
	border: 0;
}
.inFieldTask{
	display: block;
	height: 13px;
	width: 336px;
	margin-bottom: 2px;
	border: 0;
	/*border-bottom: 1px solid #81fffb;
	border-right: 1px solid #81fffb;
	border-top: 1px solid #027982;
	border-left: 1px solid #027982;*/
	float: left;
}
.taskAddGrp{
	display: inline-block;
	float: left;
	padding-top: 2px;
}
.taskStatusDiv{
	display: inline-block;
	float: left;
	
}
.btnTask{
	display: inline-block;
	float: left;
	width: 16px;
	height: 16px;
	background: #fafeff;
	-webkit-transition: background 300ms;
	border: 0;
}
.btnStatusTask{
	display: inline-block;
	float: left;
	width: 16px;
	height: 16px;
	background: #fafeff;
	border: 0;
	-webkit-transition: background 300ms ease-in;
}
.panelEditGr{
	display: none;
	width: 100%;
	opacity: 0;
	-webkit-transition: opacity 300ms ease-in;
	/*margin-left: 24px;*/
	height: 16px;
	float: left;
}
.grpColor{
	display: none;
	float: left;
}
.btnColorGrp{
	display: inline-block;
	float: left;
	width: 32px;
	height: 16px;
	border: 1px solid #fafeff;
}
.colorA{
	background: #fafeff;
}
.colorB{
	background: #03eeff;
}
.colorC{
	background: #c1ff7f;
}
.colorD{
	background: #79ff03;
}
.colorE{
	background: #ff9b77;
}
.colorF{
	background: #ff0379;
}
.lineTask{
	display: none;
	background: none;
	border-top: 1px solid #121211;
	float: left;
	width: 100%;
	/*border: 0;*/
}
.taskrow{
	width: 100%;
	display: inline-block;
	float: left;
}
.dragTask{
	display: inline-block;
	float: left;
	width: 16px;
	height: 16px;
	background: none;
}
.statusTaskLittle{
	display: inline-block;
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 4px;
	-webkit-transition: opacity 300ms ease-in;
	background: #fafeff;
}
.field_label_t{
	display: inline-block;
	float: left;
	width: 336px;
	border: 0;
	color: #121211; 
	margin-left: 20px;
	margin-right: 12px;
	background: none;
	font-size: 14px;
}
.link{
	display: inline-block;
	float: left;
	width: 336px;
	border: 0;
	color: #121211;
	margin-right: 12px;
	background: none;
}
.field_label_tmr{
	display: inline-block;
	float: left;
	height: 14px;
	/*margin-left: 24px;*/
	width: 70px;
	padding: 0;
	border: 1px solid #fafeff;
	color: #121211;
	background: #79ff03;
	text-align: center;
	font-weight: bold;
}
.ml24{
	margin-left: 24px;
}
.ml48{
	margin-left: 48px;
}
.dn{
	display: none;
}
@-webkit-keyframes dragFrame {
    0%   {border-top: 2px solid #ff9b77;}
    100% {border-top: 2px solid  #822500;}
}
.dragOver{
	border-top: 2px solid #ff4a03;
	animation-name: dragFrame;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   
}
.forDrag{
	position: absolute;
    margin-left: 16px;
    z-index: 2;
    height: 31px;
    width: 482px;
    border: 2px solid #ff4a03;
    border-radius: 7px;
    display: none;
}









#line_panel{
	width: 100%;
	vertical-align: middle;
}
#line_input{
	width: 60%;
	padding: 2px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}


.grn_grad{
	background: linear-gradient(to right,#934CE8,#43ADFB);
}
.inl_bl_btn{
	width: 25%;
	padding-top: 2px;
	margin: auto;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
.line-sum{
	width:97%;
	border-radius: 3px;
	padding: 3px;
	margin: auto;
	background-image: linear-gradient(300deg, #a1c4fd 0%, #c2e9fb 100%);
	border-bottom: 1px solid #91b4ed;
	border-right: 1px solid #91b4ed;
	border-top: 1px solid #d2f9ff;
	border-left: 1px solid #d2f9ff;
}
.line-adv{
	width:50%;
	border-radius: 2px;
	padding: 3px;
	background: white;
	text-align: center;
	border: 1px solid black;
	margin: 2px;
}
#sum-task{
	width: 30px;
	text-align: center;
	border-radius: 8px;
	border: 0;
	margin-right: 10px;
}
#sum-time{
	width: 64px;
	text-align: center;
	border-radius: 8px;
	border: 0;
}

.notes_div{
	border-radius: 11px;
	border: 4px solid #6D75EF;
	padding: 5px;
	
}
.notes_div>img{
	vertical-align: middle;
}


.inl-bl-task{
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}
.inl-bl-timer{
	display: inline-block;
	width: 18%;
	vertical-align: middle;
}
.inl-bl-btn{
	display: inline-block;
	width: 25%;
	vertical-align: middle;
	text-align: center;
}

.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.field_label_p{
	width: 100%;
	border: 0;
	color: black; 
	border-radius: 2px;
	margin: 2px;
	background: none;

}



.reset{
	border: 0;
	color: black;
	background: white;
	border-radius: 2px;
	border: 1px solid black;
	text-align: center;
	padding: 0 3px 0 3px;
	text-decoration: none;
}
.ctrl_btn_task{
	width: 24px;
	height: 24px;
	border-radius: 2px;
	border: 1px solid black;
	background: white;
	
}
/* Safari 4.0 - 8.0 */
/*@-webkit-keyframes example {
    0%   {background: linear-gradient(to right,#3B68E6,#47B4FF);}
    25%   {background: linear-gradient(to right,#665bc0,#709fd2);}
    50%   {background: linear-gradient(to right,#934e97,#9e89a2);}
    75%   {background: linear-gradient(to right,#c43e6c,#cd706d);}
    100% {background: linear-gradient(to right,#eb3349,#f45c43);}
}*/
@-webkit-keyframes example {
    0%   {background: #EB9D33;}
    100% {background: #eb3349;}
}
.blink{
	animation-name: example;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.copy{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 17px;
	margin: 1px;
	padding: 1px;
}
.btn-link{
	border-radius: 2px;
	border: 1px solid black;
	width: 14px;
	height: 14px;
	background: white;
	vertical-align: bottom;
}
.pbbox{
	width: 100%;
	height: 4px;
	vertical-align: top;
	margin-bottom: 3px;
}
.pbbody{
	height: 4px;
	border-radius: 1px;
}
.footer{
	padding: 3px;
}
